<div>
    <h1>Monolith Dashboard</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestias id unde, voluptatibus excepturi porro itaque voluptatem hic accusantium harum autem repellat vero earum nisi sunt? Animi itaque perspiciatis natus?</p>
    <a class="btn btn-sm btn-dark" href="/dashboard">Go to Dashboard</a>
</div>